<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <body ng-app="">

        <h1> Welcome to my Website! </h1>
        <h2> Aethan's Homepage </h2>
        <h2> Registration / Login </h2>
        <form name="form"></form>
            <div ng-hide="toShow">
                Enter Username:
                <input tupe="text" required ng-model="Name">
                <br>
                <br>
                <input type="button" ng-disabled="form.$invalid" ng-click="toShow = true" value="Sign In"/>
            </div>

            <div ng-show="toShow">
                Sign in successful!
                <br>
                <input type="button" ng-clickj="toShow=false" value="Logout"/>

            </div>

        Register Now? <input type="checkbox" ng-model="myVar" ng-init="myVar=false"> 
                        <input type="checkbox" ng-model="myVar" ng-init="myVar2=true">

        <div ng-if="myVar">
            <p>Register</p>
            <label>Username</label>
            <input type="text">
            <label>Password</label>
            <input type="text">
        </div>

        <div ng-if="myVar2">
            <p>Register</p>
            <label>Username</label>
            <input type="text">
            <label>Password</label>
            <input type="text">
        </div>

        <div>
            <label> Click me to make text readonly:</label>
            <input type="checkbox" ng-model="checkbox"> <br>
            <input type="text" ng-readonly="checkbox" value=""/>
        </div>


        <div>
            <label> Click me to make text disabled:</label>
            <input type="checkbox" ng-model="disabled"> <br>
            <input type="text" ng-disabled="disabled" value=""/>
        </div>

    </body>
</html>
    
